# Beef
build/
recovery/
support/
BeefSpace_User.toml

.claude/
.vscode/
nul

OpenDDL/
ReferenceSedulous/
claude.md
/renderer.md

Assets/cache/
new_ui.md
ui_status.md
/ui.md
fonts.md
fonts-implementation-plan.md
drawing.md
Code/app_framework.md
WorldUI_InputConsideration.txt
Code/Games/TowerDefense/PLAN.md
Code/Games/TowerDefense/PLAN2.md
Issues.txt
overhaul.md
Code/Sedulous/ENGINE_IMPROVEMENT_CHECKLIST.md
Code/Sedulous/RendererRewrite.md
claude_session t.txt
RenderPromp.txt
Render.md
Scenes.md
Assets/Render/Shaders/final_composite.frag.hlsl
Assets/Render/Shaders/final_composite.vert.hlsl
Code/Dependencies/joltc-Beef/dist/Release-Win64/joltc.lib
Code/Dependencies/joltc-Beef/dist/Release-Win64/Jolt.lib
Code/Dependencies/joltc-Beef/dist/Release-Win64/joltc.dll
Code/Dependencies/joltc-Beef/dist/Release-Win64/joltc.exp
Code/Sedulous/Sedulous.Render/RenderPerformance.md
Navigation.md
Code/Games/ImpactArena/GameDesign.md
Editor.md
.sedulous/
MewUI/
Editor2.md
UIv2.md
BeefLanguageReference.md
UIv2Issues.md
Code/Sedulous/Sedulous.GUI/GUIGaps.md
GUIMultiWindow.md
BeefBugs/
Multimesh.md
stormwar/
StormWarGaps.md
Code/Games/Platformer/GAME_PLAN.md
[Aa]ssets/StormTactics/save/
CuteSeries/
improvements.md
